:root {
  --default-color: #ddd;
  --default-accent-color: red;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  font-family: Verdana, sans-serif;
  font-size: large;

  background-color: hsl(215, 28%, 8%);
  color: var(--default-color);
}

h1 {
  margin: 0 .5em;
  padding: .75em 0;
  text-align: center;
}


/*-- custom scrollbar --*/
::-webkit-scrollbar {
  width: .75em;
  height: .75em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--default-color);
  border-radius: .5em;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
  background-color: hsl(215, 22%, 12%);
  border-radius: .5em;
}


/*-- media queries --*/
@media (hover) {
  .cardText {
    transform: translateY(calc(100% - 3.4em));
    transition: transform 500ms;
  }

  .cardText>*:not(.cardTitle) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .cardTitle::before {
    transform: scaleX(0);
  }
}

@media screen and (max-width: 80em) {
  body {
    font-size: xx-large !important;
  }

  .cardTitle {
    font-size: 2rem !important;
  }
}


/*-- main + hover, focus --*/
#mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardContainer {
  position: relative;
  width: 13em;
  margin: 1em;
  border-radius: .5em;
  aspect-ratio: calc(2 / 3);
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 500ms;
  cursor: pointer;
  box-shadow: 0 0 1em black;

  --accent-color: var(--default-accent-color);
}

.cardContainer:hover,
.cardContainer:focus-within {
  transform: scale(1.1);
}

.cardContainer:hover .cardText,
.cardContainer:focus-within .cardText {
  transform: translateY(0);
}

.cardContainer:hover .cardTitle::before,
.cardContainer:focus-within .cardTitle::before {
  transform: scaleX(1) translateX(-.2em);
  transition-delay: 200ms;
}

.cardContainer:hover .cardText>*,
.cardContainer:focus-within .cardText>* {
  opacity: 1;
}

.cardContainer:focus-within .cardText {
  transition-duration: 0ms !important;
}

/*-- Library container + Ribbon --*/
.cardLibContainer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 1em;
  right: -.4em;
  height: 1.4em;
  width: 5em;
  background-color: var(--accent-color);
}

.cardLibContainer::after {
  content: "";
  position: absolute;
  display: block;
  filter: brightness(.6);
  height: 0;
  width: 0;
  right: 0;
  bottom: -.35em;
  border-top: .35em solid var(--accent-color);
  border-right: .4em solid transparent;
}

.cardLibContainer::before {
  content: "";
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  left: -.5em;
  border-top: .7em solid transparent;
  border-bottom: .7em solid transparent;
  border-right: .5em solid var(--accent-color);
}

/*-- Card Text --*/
.cardTextContainer {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cardText {
  position: absolute;
  width: calc(100% - 2em);
  bottom: -1px;
  left: 0;
  padding: 1em;
  padding-top: 1.5em;
  padding-bottom: 0;
  background: linear-gradient(hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 0.45) 15%,
      hsl(0 0% 0% / 0.7) 40%,
      hsl(0 0% 0% / 1));
}

.cardTitle {
  position: relative;
  display: block;
  width: 100%;
  padding-right: 10%;
  margin-bottom: 1em;
  font-size: 1.2rem;
}

.cardTitle::before {
  content: "";
  position: absolute;
  display: block;
  height: .23em;
  bottom: -.225em;
  width: 110%;
  background-color: var(--accent-color);
  transition: transform 500ms;
  transition-delay: 100ms;
  transform-origin: right;
}


/*-- Card action Buttons --*/
.actionContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
}

.defaultButton {
  background: unset;
  border: unset;
  color: inherit;
  font-family: inherit;
  font-size: inherit;

  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  padding: 1.2em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  cursor: pointer;
  transition: 200ms;
}

.defaultButton:hover {
  background-color: #fff3 !important;
}

.defaultButton:active {
  background-color: #fff5 !important;
}

.actionOpen {
  height: 2em;
  width: 2em;
  padding: 1.6em;
  background-size: 65%;
  background-image: url(assets/icons/open-outline.svg);
}

.actionCode {
  background-image: url(assets/icons/code-slash-outline.svg);
}

.actionInfo {
  background-image: url(assets/icons/information-outline.svg);
}