:root {
  --pimary-background: #cecece;
  --secondary-background: #a8a8a8;
  --item-background: #e2e2e2;
  --popup-background: #fce8e8;
  --header: aqua;
  --button-pressed: #cccccc;
  --prompt-background: #bbbbbbdd;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

html, body {
  min-width: 1100px;
  height: 98%;
  padding: 0;
  margin: 0;

  font-family: Verdana, sans-serif;
  font-size: small;
}
table {
  border-collapse: collapse;
  width: 98%;
  border: solid 1px;
  margin: 1%;
}
tr {
  border: none; 
}
td {
  border-right: solid 1px; 
  border-left: solid 1px;
}
p {
  margin: 0;
}
button, select, input[type=submit], input[type=file], input[type=checkbox], input[type=color] {
  cursor: pointer;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

textarea {
  position: relative;
  width: 90%;
  min-height: 20px;
  min-width: 100px;
}

.header {
  background-color: var(--pimary-background);
  height: 10%;
  margin: .4%;
  border: solid 2px;
  border-radius: 3px;
  min-height: 100px;
}
.header_item {
  height: 100%;
  width: 50%;
  float: left;
}
.header_item_header {
  background-color: var(--header);
  text-align: center;
  font-size: medium;
}
.header_item_main {
  height: 75%;
  width: 99%;
  padding: 2px;
}
.export_item {
  width: 49.5%;
  height: 100%;
  float: left;
}
.main {
  background-color: var(--pimary-background);
  height: 90%;
  margin: .4%;
  border: solid 2px;
  border-radius: 3px;
  min-height: 700px;
}


.main_top {
  background-color: var(--secondary-background);
  height: 50%;
  text-align: center;
  display: flex;
}
.main_top_item {
  background-color: var(--item-background);
  height: 97.5%;
  width: 33%;
  margin: .3% auto;
  overflow: hidden;
}
.top_item_header {
  background-color: var(--header);
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.top_item_main {
  height: 95%;
  width: 100%;
}
.top_item_main_table {
  height: 95%;
  display: none;
}
.top_item_main_overview{
  height: 95%;
  display: none;
  overflow-y: scroll;
}
.graph_header {
  padding: 3px;
}
.graph_main {
  height: 95%;
  display: none;
}
.table_header {
  padding: 3px;
  overflow: hidden;
}
.table_main {
  height: 95%;
  overflow-y: scroll;
}

.main_bottom {
  background-color: var(--secondary-background);
  height: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.main_bottom_item {
  background-color: var(--item-background);
  height: 80%;
  width: 19%;
  margin: .3% .3%;
}
.bottom_item_header {
  background-color: var(--header);
  padding: 3px;
  min-height: 20px;
}
.bottom_item_main {
  height: 93%;
}


.promptbg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--prompt-background);
}
.promptPopup {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 80px;
  width: 60%;
  border-radius: 0 0 3px 3px;
  border: solid 1px;
  background-color: var(--popup-background);
}
.prompt_option {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.promptInput {
  height: 30px;
  width: 20%;
  border-radius: 2px;
  border: solid 1px;
  opacity: 0.75;
  transition: 250ms;
}
.promptInput:hover {
  opacity: 1;
}
.prompt_header {
  padding: 5px 0 0 10px;
  height: 40px;
  width: 95%;
}
.prompt_main {
  height: 45px;
  width: 100%;
}
.popup {
  display: none;
  overflow: hidden;
  position: absolute;
  border: solid 1px;
  border-radius: 3px;
  background-color: var(--popup-background);
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup_header {
  padding: 5px;
  padding-bottom: 0;
  height: 4%;
  width: 100%;
  min-height: 35px;
}
.popup_main {
  height: 96%;
  width: 100%;
}
.close_button {
  position: absolute;
  background-color: var(--pimary-background);
  height: 30px;
  width: 30px;
  right: 6px;
  border-radius: 7px;
  border: solid 1px;
  background-image: url("icons/cross_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: 250ms;
  opacity: 0.75;
  display: inline-block;
}
.close_button:hover {
  opacity: 1;
}
.table_popup_table {
  height: 100%;
  width: 50%;
  overflow: scroll;
  display: inline-block;
}
.table_popup_side {
  height: 100%;
  width: 50%;
  overflow: scroll;
  float: right;
}
.table_label {
  border: solid 1px;
  border-radius: 4px;
  padding: 1px;
  display: none;
}

/*Modules*/
.IO {
  height: 10%;
  overflow: auto;
  padding-top: 3px;
}
.IO_main {
  height: 80%;
}
.IO_footer {
  height: 10%;
}
.module {
  height: 100%;
  display: none;
}
.mod_text {
  border: solid 1px;
  border-radius: 4px;
  padding: 3px;
}

.calc_out {
  width: 100%;
  height: 25%;
  background-color: var(--pimary-background);
  border-radius: 4px;
}
.calc_label_out {
  width: 97%;
  height: 85%;
  font-size: xx-large;
}
.calc_row {
  width: 100%;
  height: 20%;
}
.calc_button {
  height: 100%;
  width: 25%;
  float: left;
  font-size: x-large;
  outline: 1px solid var(--secondary-background);
  border-radius: 4px;
  transition: 250ms;

  /*Unselectable*/
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.calc_button:hover {
  background-color: var(--pimary-background);
}

.gen_input {
  width: 50px;
}