:root {
  --pimary-background: #cecece;
  --secondary-background: #a8a8a8;
  --item-background: #e2e2e2;
  --popup-background: #fce8e8;
  --header: #256565;
  --button-pressed: #cccccc;
  --prompt-background: #bbbbbbdd;
  --okBtn-background: #8AB4F8;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

html, body {
  min-width: 1650px;
  height: 98%;
  padding: 0;
  margin: 0;

  font-family: Verdana, sans-serif;
  font-size: small;
}
p {
  margin: 2px;
}
hr {
  border-top: 1px solid black;
}
button, select, input[type=submit], input[type=file], input[type=checkbox], input[type=color] {
  cursor: pointer;
}
.data_select {
  max-width: 75px;
}
.data_select:focus {
  width: auto;
  max-width: 200px;
}
textarea {
  position: relative;
  width: 90%;
  min-height: 20px;
  min-width: 100px;
}

/* custom table */
table {
  border-collapse: collapse;
  width: 98%;
  border: solid 1px;
  margin: 1%;
  margin-bottom: 30px;
}
tr {
  border: none; 
}
td {
  border-right: solid 1px; 
  border-left: solid 1px;
}

/* custom color input */
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

/* custom on/off switch */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-background);
  border-radius: 30px;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: var(--popup-background);
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--okBtn-background);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--okBtn-background);
}
input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* main layout */
.header {
  background-color: var(--pimary-background);
  height: 10%;
  margin: .4%;
  border: solid 2px;
  border-radius: 3px;
  min-height: 100px;
}
.header_item {
  height: 100%;
  width: 50%;
  float: left;
}
.header_item_header {
  background-color: var(--header);
  text-align: center;
  font-size: medium;
}
.header_item_main {
  height: 75%;
  width: 99%;
  padding: 2px;
}
.export_item {
  width: 49.5%;
  height: 100%;
  float: left;
}
.main {
  background-color: var(--pimary-background);
  height: 90%;
  margin: .4%;
  border: solid 2px;
  border-radius: 3px;
  min-height: 800px;
}

/* top row layout */
.main_top {
  background-color: var(--secondary-background);
  height: 50%;
  text-align: center;
  display: flex;
}
.main_top_item {
  background-color: var(--item-background);
  height: 97.5%;
  width: 33%;
  margin: .3% auto;
  overflow: hidden;
}
.top_item_header {
  background-color: var(--header);
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.top_item_main {
  height: 95%;
  width: 100%;
}
.top_item_main_table {
  height: 95%;
  display: none;
}
.top_item_main_overview{
  height: 95%;
  display: none;
  overflow-y: scroll;
}
.graph_header {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3px;
  padding: 3px;
  overflow: hidden;
}
.range_slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.range_slider {
  width: 90%;
}
.slider_input {
  width: 50px;
  margin-top: 2px;
}
.graph_main {
  height: 95%;
  display: none;
}
.table_header {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3px;
  padding: 3px;
  overflow: hidden;
}
.table_main {
  height: 95%;
  overflow-y: scroll;
}

/* bottom row layout */
.main_bottom {
  background-color: var(--secondary-background);
  height: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.main_bottom_item {
  background-color: var(--item-background);
  height: 80%;
  width: 19%;
  margin: .3% .3%;
}
.bottom_item_header {
  background-color: var(--header);
  padding: 3px;
  min-height: 20px;
}
.bottom_item_main {
  height: 93%;
}

/* custom prompt */
.promptbg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--prompt-background);
  z-index: 4;
}
.promptPopup {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 80px;
  width: 60%;
  border-radius: 0 0 3px 3px;
  border: solid 1px;
  background-color: var(--popup-background);
}
.prompt_option {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.promptInput {
  height: 30px;
  width: 20%;
  border-radius: 2px;
  border: solid 1px;
  opacity: 0.75;
  transition: 250ms;
}
.promptInput.okBtn {
  background-color: var(--okBtn-background);
}
.promptInput.input {
  height: 26px;
}
.promptInput:hover {
  opacity: 1;
}
.prompt_header {
  padding: 5px 0 0 10px;
  height: 40px;
  width: 95%;
}
.prompt_main {
  height: 45px;
  width: 100%;
}

/* input/chart popup */
.popup {
  display: none;
  overflow: hidden;
  position: absolute;
  border: solid 1px;
  border-radius: 3px;
  background-color: var(--popup-background);
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.popup_header {
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 5px;
  padding: 5px;
  padding-bottom: 0;
  height: 4%;
  width: 100%;
  min-height: 35px;
}
.popup_main {
  height: 96%;
  width: 100%;
}
.table_popup_table {
  height: 100%;
  width: 50%;
  overflow: scroll;
  display: inline-block;
}
.table_popup_side {
  height: 100%;
  width: 50%;
  overflow: scroll;
  float: right;
}
.table_label {
  border: solid 1px;
  border-radius: 4px;
  padding: 1px;
  display: none;
}

.close_button {
  position: absolute;
  background-color: var(--pimary-background);
  height: 30px;
  width: 30px;
  right: 6px;
  border-radius: 7px;
  border: solid 1px;
  background-image: url("icons/cross_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: 250ms;
  opacity: 0.75;
  display: inline-block;
}
.close_button:hover {
  opacity: 1;
}

/*Modules*/
.IO {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3px;
  height: 10%;
  overflow: hidden;
}
.IO_main {
  height: 80%;
}
.IO_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3px;
  height: 10%;
  background-color: var(--pimary-background);
}
.module {
  height: 100%;
  display: none;
}
.mod_text {
  border: solid 1px;
  border-radius: 4px;
  padding: 3px;
}
.mod_main {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3px;
  overflow: hidden;
}

.calc_out {
  width: 100%;
  height: 25%;
  background-color: var(--pimary-background);
  border-radius: 4px;
}
.calc_label_out {
  width: 97%;
  height: 85%;
  font-size: xx-large;
}
.calc_row {
  width: 100%;
  height: 20%;
}
.calc_button {
  height: 100%;
  width: 25%;
  float: left;
  font-size: x-large;
  outline: 1px solid var(--secondary-background);
  border-radius: 4px;
  transition: 250ms;

  /*Unselectable*/
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.calc_button:hover {
  background-color: var(--pimary-background);
}
.gen_input {
  width: 50px;
}

/* misc */
.link_icon {
  height: 15px;
  width: 15px;
  background-image: url(icons/external_link_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
a {
  color: #0000FF;
  opacity: 0.75;
  transition: 250ms;
}
a:hover {
  opacity: 1;
}
.misc_container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3px;
  margin: 2px;
}
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #444;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
 }