:root {
  --pimary-background: var(--pimary-background-dm);
  --pimary-background-dm: hsl(215, 28%, 8%);
  --pimary-background-lm: hsl(0, 0%, 100%);
  /**/
  --secondary-background: var(--secondary-background-dm);
  --secondary-background-dm: hsl(215, 22%, 12%);
  --secondary-background-lm: hsl(0, 0%, 85%);
  /**/
  --font-color: var(--font-color-dm);
  --font-color-dm: hsl(0, 0%, 80%);
  --font-color-lm: hsl(0, 0%, 20%);
  /**/
  --accent-color2: hsl(0, 100%, 50%);
  --bar-height: -100px;
  --opacity: 0.2;
  --width: 70%;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: small;
  color: var(--font-color);
  background-color: var(--pimary-background);
}

body::after {
  /* preload SVGs */
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  content: url(icons/eye_icon.svg) url(icons/eye_off_icon.svg) url(icons/moon_icon.svg) url(icons/sun_icon.svg);
}

table {
  width: 100%;
  padding-bottom: 2em;
}

tr {
  height: 1.5em;
  width: 100%;
  vertical-align: top;
}

td {
  position: relative;
  border-top: 1px solid black;
  --accent-color: 120;
  --c: var(--accent-color);
  --h: calc(100% - 0.2em);
  --w: 0.3em;
}

u {
  padding: 0 0.3em;
  cursor: pointer;
}

tr:nth-child(1)>*::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0.1em;
  height: 0.15em;
  left: -0.2em;
  width: calc(100% + 0.4em);
  background-color: hsl(var(--accent-color), 100%, 35%);
}

tr:nth-child(1)>*:nth-child(1) {
  width: 9em;
  min-width: 8em;
}

tr:nth-child(1)>*, tr:nth-child(2)>* {
  border: 0;
}

.container {
  display: flex;
  min-width: 50em;
  width: var(--width);
  margin: 2em auto;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 110em) {
  :root {
    --width: 90%;
  }
}

.header {
  display: flex;
  height: 1em;
  width: 100%;
  padding: 0.1em;
  font-size: xx-large;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-background);
  user-select: none;
}

.main {
  min-height: 80%;
  width: 100%;
  font-size: x-large;
  --bar-width: var(--width);
}

.main::before {
  content: "";
  position: absolute;
  top: calc(var(--bar-height) - 0.1em);
  left: calc((100% - var(--width))/2 - 1em);
  width: 0.3em;
  height: 0.3em;
  background-color: var(--accent-color2);
  transition: 1s;
  z-index: 2;
}

.main::after {
  content: "";
  position: absolute;
  top: var(--bar-height);
  left: calc((100% - var(--width))/2 - 1em);
  height: 0.1em;
  width: calc(var(--bar-width) + 2em);
  background-color: var(--accent-color2);
  transition: 1s;
  z-index: 2;
}

.mr {
  position: absolute;
  top: 50%;
  right: 0.2em;
  font-size: xx-large;
  transform: translateY(-50%);
}

.br {
  position: absolute;
  bottom: 0;
  right: 0.2em;
  font-size: large;
}

.format {
  position: relative;
  height: 0;
  padding: 0.1em 0.5em;
  text-align: left;
  background-color: hsla(var(--c), 100%, 40%, var(--opacity));
}

.format:hover {
  background-color: hsla(var(--c), 100%, 40%, calc(var(--opacity)*2));
}

.format::before {
  content: "";
  position: absolute;
  top: 0.05em;
  left: 0.075em;
  height: var(--h);
  width: 0.15em;
  background-color: hsl(var(--c), 100%, 40%);
  z-index: 1;
}

.format::after {
  content: "";
  position: absolute;
  top: 0.05em;
  left: 0;
  height: var(--w);
  width: var(--w);
  background-color: hsl(var(--c), 100%, 40%);
  z-index: 1;
}

.Btn_container {
  display: flex;
  column-gap: 0.3em;
}

.Btn_container>* {
  filter: invert(1);
  height: 2rem;
  width: 2rem;
  padding: 0.3rem;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: hsla(0, 0%, 0%, 0.15);
  transition: 50ms;
}

.Btn_container>*:hover {
  background-color: hsla(0, 0%, 0%, 0.25);
}

#lmDm_Btn {
  background-image: url(icons/sun_icon.svg);
}

#names_Btn {
  background-image: url(icons/eye_off_icon.svg);
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: hsl(0, 0%, 60%);
}